@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

body {
  font-family: 'Work Sans', sans-serif;
}

.nav-title {
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 0;
}

header {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}


.image-content {
  display: flex;
  flex-direction: row;
  align-items: center;

}

.gallery-image {
  width: 20%;
}

.art-collection {
  display: flex;
  flex-direction: column;

}


ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  list-style-type: none;
}

li {
  padding: 1rem 1rem;
}

a {
  font-size: 1.1em;
  text-decoration: none;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
